{% extends "core/layout.html" %}

{% block body %}
	
	<div class="container mx-auto px-6 pt-4 h-90">
		<div class="grid grid-cols-4 gap-4">
			<div class="col-span-2">
				<div class="flex w-full border rounded bg-white">
					<div class="px-8 pt-2">
						<h1>Column</h1>
					</div>
				</div>
			</div>
			<div class="col-span-2">
				<div class="flex w-full border rounded bg-white">
					<h1>Column</h1>
				</div>
			</div>
			<div class="col-span-3">
				<div class="flex w-full border rounded bg-white">
					<h1>Column</h1>
				</div>
			</div>
			<div class="col-span-1">
				<div class="flex w-full border rounded bg-white">
					<h1>Column</h1>
				</div>
			</div>
		</div>
	</div>
{% endblock %}